DATABASE_URL=libsql://bkglamm-shawneuphony.aws-ap-south-1.turso.io
DATABASE_AUTH_TOKEN= eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3Nzc4ODY5MjQsImlkIjoiMDE5ZGYyNTAtZTUwMS03MzkzLWFiMTAtODRhMzRjMmM4M2I1IiwicmlkIjoiNzdmZjE4YzAtNjU5YS00ZDQyLWI2NTUtYjljNTMwNGQ2YThkIn0.U4PWSdXU3CYkxj-rcCd1RrMvPYvaahAgJ41amqHLmBuJfwGx_x9TYJhhCyun-cmnlXYkZKIR-9hgzVCPwpTEDw

PAYLOAD_SECRET=ins/9LdcBKhQzk6DXIZCh5hKnfdvLQFaj31dCdgBaWk=
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
CRON_SECRET=existing-cron-secret
PREVIEW_SECRET=existing-preview-secret