DATABASE_URL=file:./bkglamm.db
DATABASE_AUTH_TOKEN=

PAYLOAD_SECRET=your-existing-secret
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
CRON_SECRET=your-existing-cron-secret
PREVIEW_SECRET=your-existing-preview-secret