DATABASE_URL=file:./bkglamm.db
DATABASE_AUTH_TOKEN=

PAYLOAD_SECRET=ins/9LdcBKhQzk6DXIZCh5hKnfdvLQFaj31dCdgBaWk=
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
CRON_SECRET=existing-cron-secret
PREVIEW_SECRET=existing-preview-secret